.rcontainer {
    width: 900px;
    max-width: 1200px;
    margin: auto;
}

.myStoreReview .reviewTitle {
    margin-left: 5px;
    margin-bottom: -8px;
    margin-top: 30px;
}

.YourReviewList table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

.myreview {
    border-spacing: 0;
    font-size: 15px;
}

.yourreview {
    border-spacing: 0;
    font-size: 15px;
}

.myreview th {
    border-bottom: 1px solid #444444;
    font-size: 15px;
    height: 10px;
    width: 300px;
    padding-top: 0px;
    text-align: center;
}

.myreview td {
    border-bottom: 1px solid #444444;
    font-size: 14px;
    height: 10px;
    width: 300px;
    padding-top: 10px;
    text-align: center;
}

.yourreview th {
    border-bottom: 1px solid #444444;
    font-size: 15px;
    height: 10px;
    width: 300px;
    padding-top: 0px;
}

.yourreview td {
    border-bottom: 1px solid #444444;
    font-size: 14px;
    height: 5px;
    width: 150px;
    padding-top: 10px;
    text-align: center;
}

.lineH {
    height: 3.1px !important;
    width: 100%;
    color: #747474;
}

.reviewListItemImg, .bookingitemImgreview {
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-flex;
    margin: 4px;
}

/* 리뷰 내용 더보기 관련 */
.moreBtn {
    padding: 0;
    color: cadetblue;
    font-size: 13px;
    border: none;
    background-color: #ffffff;
    float: left;
}

.reviewUpdateBtn {
    padding: 0;
    color: cadetblue;
    font-size: 13px;
    border: none;
    background-color: #ffffff;
}

.reviewContents p {
    display: -webkit-box;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: 13px;
    color: rgb(85, 85, 85);
    text-align: left;
}

.reviewContents p.close {
    display: -webkit-box;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: left;
}

/* 상품 만족도 이미지 관련 */
.reviewSatisImg {
    width: 80px;
    height: 10px;
}
