.container {
    width: 900px;
    max-width: 1200px;
}

.YourReviewList {
    width: 900px;
    margin: 100px auto;
}

.MyReviewList {
    width: 900px;
    margin: 100px auto;
}

.container .reviewListTitle {
    text-align: left;
    /* 위 오른쪽 아래 왼쪽 */
    margin: 50px 0 -3px 0;
}
