.rcontainer {
    width: 900px;
    max-width: 1200px;
    margin: auto;
}

/* ----------------------------- */

/* 마이페이지 내의 페이지 */

.myStoreReview .reviewTitle {
    margin-left: 5px;
    margin-bottom: -8px;
    margin-top: 30px;
}

.myreview {
    border-spacing: 0;
}

.myreview {
    font-size: 15px;
}

.lineH {
    height: 3.1px !important;
    width: 100%;
    color: #747474;
}

/* ------ */

.myreview th {
    border-bottom: 1px solid #444444;
    font-size: 15px;
    height: 10px;
    width: 300px;
    padding-top: 0px;
}

.myreview td {
    text-align: center;
}
