/* 마이페이지 내의 페이지 */
.adminInnerPage{
    /* width: calc(80% - 230px); */
    max-width: 1200px;
    padding: 20px;
    height: 700px;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #bbb;
    flex: 1 1;
    margin: 60px auto auto auto;
    overflow: hidden;
}
::-webkit-scrollbar { display: none; }

.adminInnerPage .pageTitle {
    padding: 0;
    margin: 0 0 10px 0;
}


/* 다른사람이 보는 마이페이지 */
/* .regiUserItemWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.regiUserItemWrap .prev {
    font-size: 35px;
    color: #666;
    cursor: pointer;
}
.regiUserItemWrap .back {
    font-size: 35px;
    cursor: pointer;
}
.regiUserItemWrap .regiUserItem {
    width: 17%;
    height: 210px;
    border: 1px solid #ddd;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
} */




/* 빌려왔어요 */
.userReviewListAboutStoreWrapAdmin{
    margin-top: 10px;
}

.userReviewListAboutStoreWrapAdmin .userReviewListAboutStore2 {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.userReviewListAboutStoreWrapAdmin .userReviewListAboutStore2 thead th {
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    padding: 10px 5px;
    text-align: center;
}

.userReviewListAboutStoreWrapAdmin .userReviewListAboutStore2 tbody td {
    border-bottom: 1px solid #ddd;
    padding: 17px 3px;
    font-size: 15px;
}

.userReviewListAboutStoreWrapAdmin .userReviewListAboutStore2 tbody .Dec a {
    color: #666;
}

.userReviewListAboutStoreWrapAdmin .userReviewListAboutStore2 tbody .ReviewItemImg, .userReviewListAboutStoreWrap .userReviewListAboutStore tbody .ReviewContent {
    border: none;
}
.userReviewListAboutStoreWrapAdmin .userReviewListAboutStore2 tbody .ReviewContent{
    padding: 0;
}
 
/* ---------------------------- */



.ReviewItemImageOrigin {
    width: 10%;
    height: 52px;
}

.ReviewItemImageOrigin div {
    width: 100%;
    height: 75px;
    /* border: 1px solid #000; */
    background-size: cover;
    background-position: center;
}

.ReviewItemNameOrigin {
    /* width: 30%; */
    text-align: center;
}

.Dec {
    width: 10%;
    text-align: center;
}  

.Dec td{
    border-bottom: none !important; 
}

.btnBok{
  font-size: 15px;
  border-radius: 3px;
  width: 80px;
  padding: 5px 10px;
}


.RedBtn{
    border: 2px solid rgb(206, 60, 34);
    background-color: rgb(206, 60, 34);
    color: #fff;
  }



