/* ---------------------------------------------------------- */

/* 로그인, 회원가입 페이지 */
.email-search {
  position: relative;
  width: 460px;
}

.email-botton {
  position: absolute;
  right: 10px;
  top: 8px;
  bottom: 8px;
  border: 0;
  background: rgb(100, 165, 127);
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 3px;
  z-index: 2;
}

.email-input {
  border: 1px solid rgb(241, 241, 241);
  background-color: rgb(241, 241, 241);
  padding: 14px 195px;
  padding-left: 20px !important;
  border-radius: 3px;
  font-size: 15px;
  margin-left: 40px;
}

.memberPagelog {
  width: 600px;
  margin: 45px auto;
}

.memberPagelog .pageTitle h2 {
  
  font-weight: 300;
  text-align: center;
}

.memberPagelog .pageTitle h3 {
  
  font-weight: 400;
  text-align: center;
}

.memberPagelog .inputTable .find {
  margin-left: 50px;
}

hr{
  background-color: black;
  height: 2px;
 
}

 .inputLogTable{
  margin:43px auto;
  width: 640px;
  /* border-top: 2px solid rgb(170, 168, 168);
  border-bottom: 2px solid rgb(170, 168, 168);
  border-right: 2px solid rgb(170, 168, 168);
  border-left: 2px solid rgb(170, 168, 168); */
  padding-top: 10px;
  height: 688px;
  /* border: 1px solid #eee; */
}

.inputLogTable2{
  margin:43px auto;
  width: 640px;
  /* border-top: 2px solid rgb(170, 168, 168);
  border-bottom: 2px solid rgb(170, 168, 168);
  border-right: 2px solid rgb(170, 168, 168);
  border-left: 2px solid rgb(170, 168, 168); */
  padding-top: 10px;
  height: 793px;
  /* border: 1px solid #eee; */
}

.memberPagelog .pageTitle p{
  text-align: center;
  color:rgb(121, 121, 121);
}

.memberPagelog li{
  color:rgb(121, 121, 121);
}


.memberPagelog .inputTable {
  border-top: 1px solid rgb(207, 205, 205);
  border-bottom: 1px solid rgb(207, 205, 205);
  border-right: 1px solid rgb(207, 205, 205);
  border-left: 1px solid rgb(207, 205, 205);
  padding-top: 40px;
  padding-bottom: 40px;

}

.nmNid {
  font-size: 18px;
  color: #333;
}

.memberPagelog .inputTable table {
  width: 100%;
  border-spacing: 0;
}

.memberPagelog .inputTable table tr>td {
  padding-top: 15px;
  padding-bottom: 2px;
  
}

.memberPagelog .inputTable table tr:first-child>td {
  border: none;
}

.memberPagelog .inputTable table tr>td:first-child {
  width: 25%;
  padding-left: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}


.memberPagelog .inputTable table tr>td:nth-child(2) {
  width: 45%
}

.memberPagelog .inputTable table tr>td>input {
  border: 1px solid rgb(241, 241, 241) ;
  background-color: rgb(241, 241, 241);
  padding: 14px 195px;
  padding-left: 20px !important;
  border-radius: 3px;
  font-size: 15px;
  margin-left: 40px;
}
.memberPagelog .inputTable table tr>td>input ::placeholder{
text-align: left;
}

.memberPagelog .inputTable table tr>.memberTableBtn>button {
  padding: 6px 15px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}

.memberPagelog .inputTable table .memberAddress select {
  border: 1px solid #ddd;
  padding: 8px 6px;
  border-radius: 3px;
  margin-right: 10px;
}

.memberPagelog .accept ul {
  padding: 0;
}

.memberPagelog .accept .wholeCheck {
  font-size: 16px;
  font-weight: 600;
}

.memberPagelog .accept .wholeCheck .wholeCheckInfo {
  font-size: 13px;
  color: #999;
  display: block;
  font-weight: 300;
  line-height: 18px;
  margin-top: 5px;
}

.memberPagelog .accept li {
  width: 100%;
  padding: 12px;
  margin: 3px 0;
  background-color: #eee;
  font-size: 15px;
  color: #555;
}

.memberPagelog .accept li:first-child {
  background-color: transparent;
}

.memberPagelog .btnWrap {
  width: 100%;
  text-align: center;
}


.inputLogTable a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  color:#555;
  font-weight: bold;  
}

.inputLogTable2 a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  color:#555;
  font-weight: bold;  
}

 .btnlog{
  margin: 15px 90px 0;
  font-size: 15px;
  border-radius: 3px;
  width: 420px;
  padding: 14px 140px;
  
}

/* ------ clean ------ */

.mypage-clean-img { 
  margin: auto;
  margin-top: 3px;
  width: 150px;
  height: auto;
}

.myMenu-img {
  margin-top: 7px;
  width: 150px;
  height: auto;
}

.myMenuUserName {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.cleanDefault {
  margin-left: 7px;
}