@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

* {
  font-family: 'Pretendard-Regular' !important;
  box-sizing: border-box;
}

.wholeWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.containerWrap {
  flex: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.requiredInfo {
  text-align: end;
}

.requiredMark::before {
  content: "*";
  color: rgb(202, 43, 43);
}

.requiredMark>span {
  font-size: 13px;
  font-weight: 100;
  color: #777;
}

.btn {
  cursor: pointer;
  text-decoration: none;
}

.btnWrap .btn {
  font-weight: 100;
  margin: 20px 15px 0;
  font-size: 15px;
  padding: 10px 50px;
  border-radius: 3px;
  font-weight: 100;
}

.btnWrap a {
  display: inline-block;
}

.grayBtn {
  border: 2px solid #999 !important;
  background-color: #999 !important;
  color: #fff !important;
}

.grayLineBtn {
  border: 2px solid #ccc !important;
  background-color: transparent !important;
  color: #777 !important;
}

.greenBtn {
  border: 2px solid rgb(100, 165, 127) !important;
  background-color: rgb(100, 165, 127) !important;
  color: #fff !important;
}

.redBtn {
  border: rgb(196, 98, 98) !important;
  background-color: rgb(196, 98, 98) !important;
  color: #fff !important;
}

.greenLineBtn {
  border: 2px solid rgb(100, 165, 127) !important;
  background-color: transparent !important;
  color: rgb(88, 145, 112) !important;
}

.beigeBtn {
  border: 2px solid rgb(252, 233, 173) !important;
  background-color: rgb(252, 233, 173) !important;
  color: rgb(153, 129, 49) !important;
}

.beigeLineBtn {
  border: 2px solid rgb(243, 222, 155) !important;
  background-color: transparent !important;
  color: rgb(153, 129, 49) !important;
}

.plusBtn {
  border: none;
  background-color: transparent;
  font-size: 13px;
  color: #666;
}

input[type="submit"],
input[type="button"],
button {
  cursor: pointer;
}

/* ---------------------------------------------------------- */

/* header */

header .topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #fff;
  margin: 0 auto;
  /* padding: 0 2rem; */
  max-width: 1200px;
}

header .topHeader>div,
header .navBar>div {
  width: 33.3%;
}

header .topHeader .logo img {
  width: 33px;
  cursor: pointer;
}

header .topHeader .mainTitle h2 {
  font-weight: 600;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
}

header .topHeader .member {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .topHeader .member a {
  line-height: 0;
  font-size: 12px !important;
  color: #777;
  margin: 8px 4px 0;
  text-decoration: none;
  display: block;
  text-align: center;
}

header .underHeader {
  background-color: rgb(88, 145, 112);
}

header .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2rem; */
  max-width: 1200px;
  margin: 0 auto;
}

header .navBar .location,
header .navBar .weather,
header .navBar .nav {
  color: #fff;
  font-weight: 700;
}

header .navBar .navWrap {
  width: 70%;
}

header .navBar .nav {
  margin: 0;
  padding: 0;
  height: 40px;
  display: flex;
  justify-content: center;
}

header .navBar .nav li {
  list-style: none;
  float: left;
  font-weight: 100;
  font-size: 1.1rem;
  /* padding: 0 1.5rem; */
  line-height: 40px;
}

header .navBar .nav li a {
  padding: 0.5rem 1.5rem;
}

header .headerIcons {
  color: #666;
  font-size: 0.9rem;
}

header .navIcons {
  color: #fff;
  font-size: 1.1rem;
  margin-right: 4px;
}

header .navBar .location,
header .navBar .weather a {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

header .navBar .weather {
  display: flex;
  align-items: center;
  justify-content: end;
}

header .navBar .weather a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: auto;
}



/* ----------------dropdown-------------- */

/* 
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */



/* ---------------------------------------------------------- */

/* footer */
footer {
  width: 100%;
  background-color: #333;
  color: rgb(179, 179, 179);
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  line-height: 40px;
}



/* ---------------------------------------------------------- */

/* 로그인, 회원가입 페이지 */
.memberPage {
  max-width: 900px;
  margin: 70px auto;
}

.memberPage .pageTitle h2 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.memberPage .inputTable {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.memberPage .inputTable table {
  width: 100%;
  border-spacing: 0;
}

.memberPage .inputTable table tr>td {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #ddd;
}

.memberPage .inputTable table tr:first-child>td {
  border: none;
}

.memberPage .inputTable table tr>td:first-child {
  width: 25%;
  padding-left: 50px;
  font-size: 14px;
  color: #333;
}

.memberPage .inputTable table tr>td:nth-child(2) {
  width: 45%
}

.memberPage .inputTable table tr>td>input {
  border: 1px solid #ddd;
  width: 95%;
  padding: 8px 6px;
  border-radius: 3px;
}

.memberPage .inputTable table tr>.memberTableBtn>button {
  padding: 6px 15px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}

.memberPage .inputTable table .memberAddress select {
  border: 1px solid #ddd;
  padding: 8px 6px;
  border-radius: 3px;
  margin-right: 10px;
}

.memberPage .accept ul {
  padding: 0;
}

.memberPage .accept .wholeCheck {
  font-size: 16px;
  font-weight: 600;
}

.memberPage .accept .wholeCheck .wholeCheckInfo {
  font-size: 13px;
  color: #999;
  display: block;
  font-weight: 300;
  line-height: 18px;
  margin-top: 5px;
}

.memberPage .accept li {
  width: 100%;
  padding: 12px;
  margin: 3px 0;
  background-color: #eee;
  font-size: 15px;
  color: #555;
}

.memberPage .accept li:first-child {
  background-color: transparent;
}

.memberPage .btnWrap {
  width: 100%;
  text-align: center;
}

.loginForm {
  margin-top: 180px;
}

.loginForm form {
  height: 200px;
}

.loginForm form .inputTable {
  margin-bottom: 40px;
}

.loginForm form .inputTable tr td {
  border: none;
}

.loginForm form .inputTable tr:first-child td {
  padding-bottom: 10px !important;
  padding-top: 30px !important;
}

.loginForm form .inputTable tr:nth-child(2) td {
  padding-bottom: 0 !important;
  padding-top: 10px !important;
}

.loginForm form .inputTable .rememberId {
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 223px !important;
}

.loginForm form .inputTable .findMemberInfo {
  padding-top: 0;
  padding-bottom: 10px;
  padding-right: 60px;
  text-align: right;
}

.loginForm form .inputTable .findMemberInfo a {
  font-size: 13px;
  color: #999;
  padding: 0 5px;
}

.loginForm .btnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm .btnWrap a {
  margin: 0 25px;
}

.rememberId .rememberIdLabel {
  display: flex;
  justify-content: start;
  align-items: center;
}

.rememberId .rememberIdLabel p {
  font-size: 13px;
  color: #666;
}

.loginBtn {
  height: 95px;
  width: 180px;
}

.googleLoginBtnLink {
  padding: 0 !important;
}

.googleLoginBtnLink .googleLoginBtn {
  width: 210px;
  height: 50px;
  background-size: cover;
  display: inline-block;
}

.PwCheck{
  padding-top: 7px;
  font-size: 14px;
}

.caps-lock {
  padding-top: 7px;
  font-size: 14px;
  color: rgb(21, 170, 21);
}  

.caps-lock-on {
  padding-top: 7px;
  font-size: 14px;
  color: red;
}




/* ------------------------------------------------------------ */

/* item */

.titleNplusBtn {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.titleNplusBtn a {
  color: #666;
  font-weight: 600;
}

.titleNplusBtn>h3 {
  margin: 10px 0;
  /* font-size: 23px; */
}

.tomorrowWeather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: -25px;
}

.tomorrowWeather .weatherIcon {
  font-size: 38px;
  margin-right: 7px;
}

.tomorrowWeather .temp {
  font-size: 23px;
  font-weight: 800;
}

.recWeather,
.recBestStore,
.recWeeklyWrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.recWeekly {
  background-color: #eee;
}

.storeWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.itemWrap a {
  text-decoration: none;
  color: #333;
}

.itemInfoWrap {
  width: 22%;
  height: 430px;
  background-color: #eee;
  border-radius: 10px;
  padding: 1.5%;
  margin: 2%;
}

.itemInfoWrap:nth-child(4n) {
  margin-right: 0;
}

.itemInfoWrap:nth-child(4n+1) {
  margin-left: 0;
}

.recWeeklyWrap .itemInfoWrap {
  background-color: rgb(250, 250, 250);
}

.itemInfoWrap .itemImg {
  width: 100% !important;
  height: 68%;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.itemInfoWrap .itemInfo p {
  margin: 5px 0;
}

.itemInfoWrap .itemInfo .price {
  font-size: 20px;
  font-weight: 800;
  margin-right: 2px;
  color: rgb(88, 145, 112);
}

.itemInfoWrap .itemInfo .itemDeposit {
  font-size: 15px;
  color: #444;
}

.itemInfoWrap .itemInfo .itemDeposit .depositTitle {
  font-size: 14px;
  color: #666;
  margin-right: 5px;
}

.itemInfoWrap .itemInfo .itemDeposit .deposit {
  font-size: 15px;
  font-weight: bold;
  color: #555;
}

.itemInfoWrap .itemInfo .itemName {
  font-size: 17px;
  font-weight: 800;
}

#overflow {
  display: block;
  max-width: calc(100% - 10px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.itemInfoWrap .itemInfo .itemPeriod {
  font-size: 14px;
  color: #666;
  margin-top: 12px;
}

.itemInfoWrap .itemInfo .period {
  font-size: 16px;
}

.storeInfoWrap {
  /* background-color: #ddd; */
  width: 200px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.storeInfoWrap>.storeImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.storeInfo {
  width: 100%;
  text-align: center;
}

.storeInfo .storeName {
  font-size: 20px;
  font-weight: 800;
  margin: 7px 0;
}

.storeWrap2 {
  margin-right: 4%;
}

.storeWrap2:last-child {
  margin-right: 0;
}