.BookingContainer{
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    border: 3px solid rgb(206, 206, 206);
    background-color: rgb(253, 253, 253);
    padding:45px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.top{
    width: 100%;
    height: 280px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    
}

.middle{

    border-bottom: 1px solid #999;
}

.a{
    border-bottom: 1px solid rgb(204, 201, 201);
}

div.left {
    width: 50%;
    float: left;
    box-sizing: border-box;
    /* background: #8977ad; */
    
  }
  div.right {
    width: 50%;
    float: left;
    box-sizing: border-box;
    /* background: #ece6cc; */
    margin-top: 100px;
    padding-left: 50px;
  }


.middleDiv .memberImg2 {
    background-color: rgb(219, 219, 219);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}




.buttonDiv {
    text-align: right;
    margin-bottom: 100px;
}

.writeDate{
    flex-direction: row-reverse;
}

.BookingContainer form {
    display: inline;
    justify-content: center;
    align-content: center;
}




.bookingDiv table{
    width: 100%;
    height: max-content;
    border-top: 1px solid rgb(219, 219, 219);
    border-collapse: collapse;
}



.tablePlusForm2 tr{
    align-content: center;
    width: auto;
    padding: 10px;
    height: 1px;
    vertical-align: middle;
}
.tablePlusForm2 td{
    align-content: center;
    width: auto;
    padding: 10px;
    height: 1px;
    vertical-align: middle;
}


.tableform2 th{
    align-content: center;
    width: 100px;
    padding: 1px;
    vertical-align: middle;
}

.tableform2 tr{
    align-content: center;
    padding: 10px;
    vertical-align: middle;
}
.tableform2 td {
    align-content: center;
    width:100px;
    padding: 10px;
    vertical-align: middle;
}


.bookingDiv .reviewClean, .leftside{
    border-bottom: 1px solid rgb(219, 219, 219);
}

.bookingDiv .leftside{
    text-align: center;
}





.imageDiv2 {
    float: left;
    padding-left: 15%;
}

.BookingContainer form{
    width: 500px;
    margin: auto;
    text-align: -webkit-center;
}

.tablePlusForm2 .memberImg2 {
    background-color: rgb(219, 219, 219);
    width: 180px;
    height: 225px;
}

/* 플러스 */
.plus{
margin-left: 70px;
font-weight: bold;
}

/* 달력 */

.inputdate{
    margin-left: 180px;
}

/* 동의 */
.agree{
    margin-left: 60px;
}

/* 버튼 */
.btnbk{
    font-size: 15px;
    padding: 10px 50px;
    border-radius: 3px;
    font-weight: 100;
}

.btnGroup{
    margin-top: 40px;
    margin-left: 250px;
}

button .modalbutton{
    padding-left: 200px;
}


/* 결제수단 */
.custom-search {
    position: relative;
    width: 460px;
  }
  .custom-search-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
  }
  .custom-search-botton {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #2e9b71;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
  }
